* {
  font-family: "Angsana New", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
}


.bg-photo-main {
  background-image: url(./Images/nicki-minaj-WEBP.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 40px 20px;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  color: #000000;
}